$font-family: "Montserrat", sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$text-primary: #363636;
$text-primary-60: rgba($text-primary, 0.6);
$text-secondary: #575757;
$color-border: #eaeaea;
$color-accent: #fff619;
$color-accent-transparent: rgba($color-accent, 0.63);

// Shadows
$shadow-default: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
