@use "utils/vars" as *;

// Typography
body {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-primary;
}

a {
  font-family: $font-family;
  font-weight: 700;
  color: currentColor;
  text-decoration: none;
}

/* Typography defaults */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Custom
.homeContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 75px 63px;
}

.results {
  font-weight: 600;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 45px;
}

.articlesList {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.title {
  font-weight: 500;
  font-size: 24px;
}
